<!doctype HTML>
<html>
  <head><title>Fruit Picker</title></head>
  <body>
      
<form action="/s" method="post">
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="mTitle" />
    </div>
    <div>
        <label for="year">Text:</label>
        <input type="year" id="year" name="mYear" />
    </div>
    <div>
        <label for="imdb">Imdb:</label>
        <input id="imdb" name="imdbLink" />
    </div>
    
    <div class="button">
        <button type="submit">Submit</button>
    </div>
</form>
      
  </body>
</html>
